{"filter":false,"title":".gitignore","tooltip":"/Google/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":40,"column":5},"end":{"row":40,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"2e1dd9caed5b0dc14cfc461136d8eeebea766e71","mime":"application/octet-stream","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":40,"column":0},"end":{"row":40,"column":5},"action":"insert","lines":["/.env"],"id":2}]]},"timestamp":1664102439133}