*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	height: 50px;
	background-color: #ff9a4b;
}

main{
	margin: 50px auto;
	width: 960px;
	display: flex;
}

.list{
	width: 300px;
	margin-right: 30px;
	padding: 10px;
	position: relative;
	background-color: #eeeeee;
}

.list:last-child {
  margin-right: 0;
}


.step{
	color: #fff;
	position: absolute;
  top: 0;
  left: 0;
	background-color: #ff9a4b;
}

.image1{
	height: 150px;
	background-image: url(img/flow01.png);
	background-size:cover;
	background-position: bottom;
}

.image2{
	height: 150px;
	background-image: url(img/flow02.png);
	background-size:cover;
	background-position: bottom;
}

.image3{
	height: 150px;
	background-image: url(img/flow03.png);
	background-size:cover;
	background-position: bottom;
}



h3{
	margin-top: 15px;
	margin-bottom: 5px;
}



footer{
	height: 50px;
	background-color: #aaaaaa;
}