*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #fff;
}
.container{
  width: 1024px;
  margin: 0 auto;
}

/* ヘッダーレイアウト */

header{
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.header-group
{
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.logo{
  height: 70px;
}

.nav{
  display: flex;
}

.nav-list{
  width: 120px;
  padding: 0 30px;
  line-height: 70px;
  font-size: 16px;
  color: #fafafa;
  list-style: none;
}

/* メインビジュアル */

#mv{
  width: 100%;
  height: 650px;
  color: #fafafa;
  background-image: url("img/mv.png");
  /* 画面の大きさに合わせて写真を全面表示 */
  background-size: cover;
  background-position: center;
  text-align: center;
}

.mv-title{
  font-size: 64px;
  padding-top: 200px;
  font-family: 'Raleway', sans-serif;
}
.mv-text
{
  font-size: 20px;
  padding-top: 10px;
}

/* ポートフォリオ */

#portfolio
{
  background-color: #eceff1;
}
.heading
{
  font-family: 'Raleway', sans-serif;
  padding-top: 90px;
  font-size: 32px;
  text-align: center;
}
.heading::after
{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}
.heading-text
{
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
}
.production-group
{
  display: flex;
  flex-flow: row wrap;
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}
.production
{
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}
.production:nth-child(-n+3){
	margin-top: 0;
}

.production:nth-child(3n){
	margin-right: 0;
}
.bg-1
{
  background-image: url(img/sketch.jpg);
}
.bg-2
{
  background-image: url(img/websuku.png);
}
.bg-3
{
  background-image: url(img/write.jpg);
}
.bg-4
{
  background-image: url(img/webcamp.png);
}
.bg-5
{
  background-image: url(img/talk.jpg);
}
.bg-6
{
  background-image: url(img/webcamp-mother.png);
}

/* Feature */

#feature
{
  background-size: cover;
  background-position: center;
}
.strength-group
{
  display: flex;
  width: 980px;
  padding: 30px 0 90px 0 ;
  margin: 0 auto;
}
.strength
{
  width: 320px;
  margin-right: 10px;
  text-align: center;
  font-size: 60px;
}
.strength:last-child
{
  margin-right: 0;
}
.strength-title
{
  padding: 10px 0;
  font-size: 20px;
}
.strength-text
{
  text-align: left;
  font-size: 16px;
}

/* profile */

#profile
{
  background-color: #eceff1;
}
.profile-group
{
  display: flex;
  padding: 30px 0 90px 0;
}
.left-content
{
  width: 50%;
}
.right-content
{
  width: 50%;
}
.my-face
{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(img/my-icon.jpg)
}
.description-title
{
  font-size: 20px;
  margin: 20px 0 5px 0;
}
.description-title:first-child
{
  margin-top: 0;
}
.description-text
{
  font-size: 16px;
}

/* Contact */

.contact-group
{
  display: flex;
  width: 800px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.left-contact-content
{
  width: 130px;
  margin: 0 auto;
}
.link-text
{
  text-decoration: underline;
  color: black;
}
.right-contact-content
{
  width: 170px;
  margin: 0 auto;
}
.right-contact-content .fab
{
  font-size: 46px;
  margin-right: 20px;
}
.right-contact-content .fab:last-child
{
  margin-right: 0;
}

/* Footer */

footer
{
  height: 60px;
  width: 100%;
  background-color: #ec715f;
  line-height: 60px;
}
.footer-text
{
  font-size: 16px;
  color: #fafafa;
  text-align: center;
}

/* レスポンシブ */

@media(max-width: 768px){

  /* 全体 */

  .container
  {
    width: 90%;
  }
  .left-content
  {
    width: 100%;
  }
  .right-content
  {
    width: 100%;
  }

  /* header */

  header
  {
    height: 50px;
  }
  .logo
  {
    height: 50px;
  }
  .menu-box
  {
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #fafafa;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
  }
  .list-bar
  {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
  }
  .list-bar:first-child
  {
    margin-top: 10px;
  }
  .nav-list
  {
    display: none;
  }

  /* メインビジュアル */

  #mv
  {
    background-image: url(img/code.png);
  }
  .mv-title
  {
    font-size: 40px;
  }
  .mv-text
  {
    font-size: 18px;
  }

  /* portfolio */

  .sp-none
  {
    display: none;
  }
  .production-group
  {
    width: 300px;
  }
  .production
  {
    margin-right: 0px;
  }

  /* feature */

  #feature
  {
    background-position: center;
    background-size: cover;
  }
  .strength-group
  {
    flex-flow: row wrap;
    width: 320px;
  }
  .strength
  {
    margin-top: 10px;
    margin-right: 0;
  }
  .strength:first-child
  {
    margin-top: 0;
  }

  /* profile */

  .profile-group
  {
    flex-flow: row wrap;
    text-align: center;
  }
  .profile-group .left-content
  {
    margin-bottom: 20px;
  }

  /* contact */

  .contact-group
  {
    width: 100%;
    flex-flow: row wrap;
    text-align: center;
  }
  .left-contact-content
  {
    width: 100%;
  }
  .right-contact-content
  {
    width: 100%;
    margin-top: 20px;
  }
  .right-contact-content .fab
  {
    font-size: 50px;
    margin-right: 8px;
  }
}